.container-gameboard{
  width: 20%;
  margin: auto;
}
.gameboard-column{
  height: 100px;
  width: 75px;
  border: 2px solid black;
  padding:0 !important;
}
.gameboard-square{
  height:100%;
  width:100%;
  font-size: 80px;
  color: #fff;
}